In [1]:
for var1 in range(3):
    print("iteration" + str(var1 + 1) + " of outer loop")
    for var2 in range(2):
        print(var2 + 1)
    print("Out of inner loop")
print("Out of outer loop")

iteration1 of outer loop
1
2
Out of inner loop
iteration2 of outer loop
1
2
Out of inner loop
iteration3 of outer loop
1
2
Out of inner loop
Out of outer loop

In [2]:
#python program to swap two cities

# to take inputs from the user
city_1 = input('Enter the name if City 1:')
city_2 = input('Enter the name of City 2:')

# create a temporary variable and swap the cities
temp = city_1
city_1 = city_2
city_2 = temp

print(f"The name of City 1 after swapping is {city_1}")
print(f"The name of City 2 after swapping is {city_2}")

The name of City 1 after swapping is Chicago
The name of City 2 after swapping is New York

In [1]:
#print the given sequence of numbers using for loop
count = [10,20,30,40,50]
for num in count:
    print(num)

10
20
30
40
50

In [2]:
#print multiples of 10 for numbers in a given range
for num in range(5):
    if num > 0:
        print(num * 10)

10
20
30
40

In [7]:
#for loop of letters littl practice
name = ["jon", "henry", "hanako", "sophie", "ragnar"]
for iden in name:
    print(iden)

jon
henry
hanako
sophie
ragnar

In [14]:
#print forst 5 natural numbers using while loop
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [15]:
#sum of all positive nos till negative no is introduced
entry = 0
sum1 = 0
print("Enter numbers to find their sum, negative number ends the loop:")
while True:
    #int()  (it typecasts string to integer)
    entry = int(input())
    if (entry < 0):
        break
    sum1 += entry
    print("Sum =", sum1)

Enter numbers to find their sum, negative number ends the loop:
Sum = 3
Sum = 7
Sum = 10
Sum = 13
Sum = 19
Sum = 96
Sum = 173
Sum = 250

In [2]:
#lil test
entry = 0
newno = 0
print("Enter any number below 5 or the loop ends")
while True:
    entry = int(input())
    if (entry > 5):
        break
    newno += entry
print("Sum =", newno)

Enter any number below 5 or the loop ends

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#printing values for 0 to 6 apart from 3
num = 0
for num in range(6):
    num = num + 1
    if num == 3:
        continue
    print('Num has value ' + str(num))
print('End of loop')

Num has value 1
Num has value 2
Num has value 4
Num has value 5
Num has value 6
End of loop

In [11]:
#program to demonstrate working of nested for loops
for var1 in range(3):
    print( "iteration" + str(var1 + 1) + " of outer loop")
    for var2 in range(2): #nested loop
        print(var2 + 1)
    print("out of inner loop")
print("Out of outer loop")

iteration1 of outer loop
1
2
out of inner loop
iteration2 of outer loop
1
2
out of inner loop
iteration3 of outer loop
1
2
out of inner loop
Out of outer loop

In [9]:
n = 20 # Try different values like 5, 10, 2
if n > 10:
    if n % 2 == 0:
        result = "Even and greater than 10"
    else:
        result = "Odd and greater than 10"
else:
    result = "5 or below"

    if n > 5: 
      result = "Between 6 and 10"
print(result)

Even and greater than 10

In [13]:
count = 0
for i in range(2, 10, 2):
    count += i
    print(i)

2
4
6
8

In [19]:
n = 50
while n > 1:
    if n % 2 == 0:
        n //= 2
    else:
        n -= 1
        print(n)

24
2